.counter{
    background-color: blanchedalmond;
    text-align: center;
  
    header{
      display: block;
      height: 100px;
      background-color: violet;
      color:blue;
      font-size: 50px;
      
    }
  
    button {
      width: 100px;
      height: 100px;
      font-size: 60px;
    }
  
  }
